<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Planet-T</title>
        <meta name="description" content="The Website for the Planet-T community and Discord server.">
        
        <link rel="stylesheet" type="text/css" href="styles.css">
        <link rel="icon" type="image/png" href="favicon16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="favicon32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="favicon96.png" sizes="96x96">
        <meta name="viewport" content="width=device-width, initial-scale=0.5">
        <script src="https://dagammla.gitlab.io/fuwu.js/0.8.5/fuwu.min.js"></script>
        <script src="https://dagammla.gitlab.io/fuwu.js/0.8.5/fuwu-pl.min.js"></script>
        <script src="index.js"></script>
        
        <template id="app-icon">
            <div class="app" f:id="app.path" evt:click="clickApp(app)" evt:f-add="appIconAdd(this, index)">
                <f-var name="hasIcon" value="!!app.icon"></f-var>
                <f-if check="hasIcon">
                    <img class="app-icon" f:alt="app.name ? app.name + ' Icon' : 'Icon'" f:src="app.icon">
                </f-if>
                <f-if check="app.name">
                    <span f:class="'app-name' + (hasIcon ? '' : ' no-icon')">
                        {{app.name}}
                    </span>
                </f-if>
            </div>
        </template>
    </head>
    <body>
        <div id="back-click" onclick="backClick()"></div>
        <f-pl data="titleData">
            <h1 id="title" evt:f-change="titleChange()">
                <f-if check="titleData.visible">
                    <f-for from="titleData.text" as="char" index="i"><span f:visible="false" class="fade-letter" evt:f-change="titleCharAdd(this, i)">{{char}}</span></f-for>
                </f-if>
            </h1>
            <img id="planet-t" f:src="titleData.image" alt="Planet" onload="this.classList.remove('appear')">
        </f-pl>
        <div id="discord-widget-container" pos="down" onmouseleave="widgetLeave()">
            <div id="widget-pullup" onclick="widgetPullup()">

            </div>
            <iframe title="Server Widget" id="discord-widget" src="https://discord.com/widget?id=389845182750654464&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        </div>
        <f-pl data="appsData">
            <div id="apps-container" f:open="appsData.isOpen">
                <div>
                    <div id="apps-icon" onclick="openApps()">
                        <svg xmlns="http://www.w3.org/2000/svg" height="100px" viewBox="0 0 24 24" width="100px" fill="#222222"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M4 8h4V4H4v4zm6 12h4v-4h-4v4zm-6 0h4v-4H4v4zm0-6h4v-4H4v4zm6 0h4v-4h-4v4zm6-10v4h4V4h-4zm-6 4h4V4h-4v4zm6 6h4v-4h-4v4zm0 6h4v-4h-4v4z"/></svg>
                    </div>
                    <f-if check="appsData.isOpen">
                        <div id="apps-frame">
                            <f-if check="appsData.currentApp.type == 'more-apps'">
                                <f-for from="appsData.currentApp.childApps" as="appPath" index="index">
                                    <f-var name="app" value="apps[appPath]"></f-var>
                                    <f-in in-id="app-icon"></f-in>
                                </f-for>
                            </f-if>
                            <f-else>
                                <f-var name="app" value="appsData.currentApp"></f-var>
                                <div
                                    f:class='"html-content" + (app.type=="text" ? " text-content" : "")'
                                    evt:f-add="this.innerHTML = app.content">
                                </div>
                            </f-else>
                        </div>
                        <div
                            id="back-icon"
                            onclick="clickApp(apps[appsData.currentApp.parent])"
                            f:visible="appsData.currentApp.path != baseApp.path">
                            <svg xmlns="http://www.w3.org/2000/svg" height="80px" viewBox="0 0 24 24" width="80px" fill="#222222"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M10.09 15.59L11.5 17l5-5-5-5-1.41 1.41L12.67 11H3v2h9.67l-2.58 2.59zM19 3H5c-1.11 0-2 .9-2 2v4h2V5h14v14H5v-4H3v4c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"/></svg>
                        </div>
                    </f-if>
                </div>
            </div>
            <div id="background-clickables">
                <div id="small-planet" onclick=""></div>
                <div id="bright-star" onclick="randomTitle()"></div>
                <div id="shooting-star" onclick="shootingStar()"></div>
            </div>
        </f-pl>
        <div id="preload-images">
            <f-pl data="preloadData">
                <f-if check="preloadData.ready">
                    <f-for from="preloadData.images" as="path">
                        <img f:src="path" alt="">
                    </f-for>
                </f-if>
            </f-pl>
        </div>
    </body>
</html>