@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

html {
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(11, 0, 34);
    background-image: url("img/back576.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow-y: hidden;
}

@media (min-height: 620px) and (max-height: 799px) {
    body{
        background-image: url("img/back768.webp");
    }
}

@media (min-height: 800px) and (max-height: 1099px) {
    body{
        background-image: url("img/back1080.webp");
    }
}

@media (min-height: 1100px) and (max-height: 1499px) {
    body{
        background-image: url("img/back1440.webp");
    }
}

@media (min-height: 1500px) and (max-height: 1899px) {
    body{
        background-image: url("img/back1800.webp");
    }
}

@media (min-height: 1900px) and (max-height: 2399px) {
    body{
        background-image: url("img/back2160.webp");
    }
}

@media (min-height: 2400px) {
    body{
        background-image: url("img/back2880.webp");
    }
}

#planet-t {
    position: fixed;
    height: 40%;
    left: 50vw;
    top: 14.5vh;
    animation: planet-hover 7.5s ease-in-out alternate infinite;
    pointer-events: none;
    user-select: none;
    z-index: 0;
    opacity: 1;
    transition: opacity 1.5s ease-out;
}

@keyframes planet-hover {
    0% { transform: translate(-50%,0);}
    100% {transform: translate(-50%,3.5vh);}
}

#planet-t.appear{
    opacity: 0;
    transition: opacity 0s;
}

#title {
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    pointer-events: none;
    user-select: none;
    text-align: center;
    color: white;
    font-family: 'Righteous', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, cursive;
    font-size: /*5vh*/ 64px;
    padding: 0;
    margin: 0;
    top: 4vh;
    z-index: 2;
}

.fade-letter{
    opacity: 0;
    transition: top 0s, opacity 0s;
    position: relative;
    top:50px;
}

.fade-letter[visible="true"]{
    opacity: 1;
    transition: top 0.75s ease-out, opacity 0.75s ease-out;
    top:0px;
}

#discord-widget-container {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 350px;
    height: 500px;
    transform: translate(0, 426px);
    transition: transform 0.25s ease-out;
    z-index: 4;
}

#discord-widget-container[pos="up"]{
    transform: translate(0, 0px);
    padding: 25px;
    right: -25px;
    bottom: -25px;
}

#widget-pullup{
    pointer-events: all;
    cursor: pointer;
    position: fixed;
    width: 100%;
    height: 100%;
}

#discord-widget-container[pos="up"] #widget-pullup{
    pointer-events: none;
    cursor: unset;
}

#discord-widget{
    user-select: none !important;
}

#back-click{
    position: relative;
    width: 100%;
    height: 100%;
}

#apps-container{
    position: fixed;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    z-index: 3;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    transition: width 0.2s, height 0.2s, top 0.2s;
}

#apps-container[open=true]{
    width: min(850px, 90vw);
    height: min(500px, 90vh);
    top: 50%;
}

#apps-container > div {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

#apps-container[open=true] > div {
    overflow-y: auto;
    overflow-x: hidden;
    animation: delay-scroll 0.3s;
}

@keyframes delay-scroll{
    from{
        overflow-y: hidden;
    }
}

#apps-icon{
    position: fixed;
    opacity: 0;
    pointer-events: none;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s ease-out;
}

#apps-container[open=false] #apps-icon{ 
    pointer-events: all;
    cursor: pointer;
    opacity: 1;
}

#back-icon{
    position: fixed;
    opacity: 0;
    pointer-events: none;
    width: 80px;
    height: 80px;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, 0);
    transition: opacity 0.5s ease-out;
    z-index: 3.5;
}

#apps-container[open=true] #back-icon[visible=true]{
    pointer-events: all;
    cursor: pointer;
    opacity: 80%;
}

#apps-frame{
    position: fixed;
    margin: auto auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

#apps-container[open=false] #apps-frame{
    display: none;
    pointer-events: none;
}


.app{
    width: 90px;
    height: 90px;
    background-color: white;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    margin: 8px;
    margin-bottom: 46px;
    cursor: pointer;
    position: relative;
    user-select: none;
    opacity: 0;
    display: block;
}

.app[visible=true]{
    opacity: 1;
    animation: fade-up 0.5s ease-out 0s 1 forwards;
}

@keyframes fade-up {
    0% { transform: translateY(50px); opacity: 0;}
    100% {transform: translateY(0px); opacity: 1;}
}

.app-icon{
    width: 92px;
    height: 92px;
    border-radius: 5px;
    margin: -1px;
    pointer-events: none;
}

.app-name{
    text-align: center;
    bottom: -4px;
    width: 90px;
    position: relative;
    display: block;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-height: 42px;
    overflow-y: hidden;
    font-size: 16px;
    line-height: 20px;
}
.app-name.no-icon{
    bottom: unset;
    top: 4px;
}

.html-content{
    width: 100%;
    min-height: 100%;
    border-radius: 15px;

    animation: fade-up 0.5s ease-out 0s 1 forwards;
    box-sizing: border-box;
    border: rgba(0, 0, 0, 0) 1px;
}

iframe{
    border-width: 0px;
}

.text-content{
    width: unset;
    height: unset;
    min-height: unset;
    max-width: calc(100% -10px);
    max-height: calc(100% -10px);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    left: 0;
}

#preload-images{
    position: fixed;
    left: 200vw;
    top: 200vh;
    opacity: 0.01;
}

#background-clickables{
    z-index: -1;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

#apps-container[open=false] ~ #background-clickables{
    z-index: 1;
}

#background-clickables div{
    position: absolute;
    border-radius: 200px;
}